--
-- PostgreSQL database dump
--

\restrict WNS7cdb96JrPaBnfRbyldk6kQthGxe89QDO6Nl8jHHVD4GlzSeFZUG79OjIx3vU

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: approval_records; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.approval_records (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    change_id uuid NOT NULL,
    approver_id uuid NOT NULL,
    decision character varying(50) NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now() NOT NULL,
    comments text,
    CONSTRAINT approval_records_decision_check CHECK (((decision)::text = ANY ((ARRAY['Approved'::character varying, 'Rejected'::character varying])::text[])))
);


ALTER TABLE public.approval_records OWNER TO itsm_user;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now() NOT NULL,
    user_id uuid NOT NULL,
    action character varying(50) NOT NULL,
    resource_type character varying(100) NOT NULL,
    resource_id uuid NOT NULL,
    before_state jsonb,
    after_state jsonb,
    metadata jsonb,
    ip_address character varying(45),
    CONSTRAINT audit_logs_action_check CHECK (((action)::text = ANY ((ARRAY['Create'::character varying, 'Update'::character varying, 'Delete'::character varying, 'StatusChange'::character varying, 'Approve'::character varying, 'Reject'::character varying, 'Assign'::character varying, 'AccessDenied'::character varying])::text[])))
);


ALTER TABLE public.audit_logs OWNER TO itsm_user;

--
-- Name: change_cis; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.change_cis (
    change_id uuid NOT NULL,
    ci_id uuid NOT NULL
);


ALTER TABLE public.change_cis OWNER TO itsm_user;

--
-- Name: changes; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.changes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    number character varying(50) NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    type character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    risk_level character varying(50) NOT NULL,
    priority character varying(50) NOT NULL,
    requester uuid NOT NULL,
    assignee uuid,
    rollback_plan text NOT NULL,
    schedule jsonb,
    implementation jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT changes_priority_check CHECK (((priority)::text = ANY ((ARRAY['Critical'::character varying, 'High'::character varying, 'Medium'::character varying, 'Low'::character varying])::text[]))),
    CONSTRAINT changes_risk_level_check CHECK (((risk_level)::text = ANY ((ARRAY['Low'::character varying, 'Medium'::character varying, 'High'::character varying, 'Critical'::character varying])::text[]))),
    CONSTRAINT changes_status_check CHECK (((status)::text = ANY ((ARRAY['Draft'::character varying, 'Submitted'::character varying, 'Approved'::character varying, 'Rejected'::character varying, 'Scheduled'::character varying, 'InProgress'::character varying, 'Completed'::character varying, 'Failed'::character varying, 'Cancelled'::character varying])::text[]))),
    CONSTRAINT changes_type_check CHECK (((type)::text = ANY ((ARRAY['Standard'::character varying, 'Normal'::character varying, 'Emergency'::character varying])::text[])))
);


ALTER TABLE public.changes OWNER TO itsm_user;

--
-- Name: ci_relationships; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.ci_relationships (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    source_ci_id uuid NOT NULL,
    target_ci_id uuid NOT NULL,
    relationship_type character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT ci_relationships_relationship_type_check CHECK (((relationship_type)::text = ANY ((ARRAY['DependsOn'::character varying, 'Contains'::character varying, 'ConnectsTo'::character varying, 'RunsOn'::character varying, 'UsedBy'::character varying])::text[])))
);


ALTER TABLE public.ci_relationships OWNER TO itsm_user;

--
-- Name: configuration_items; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.configuration_items (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(50) NOT NULL,
    status character varying(50) NOT NULL,
    owner uuid NOT NULL,
    attributes jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT configuration_items_status_check CHECK (((status)::text = ANY ((ARRAY['Active'::character varying, 'Inactive'::character varying, 'Maintenance'::character varying, 'Retired'::character varying])::text[]))),
    CONSTRAINT configuration_items_type_check CHECK (((type)::text = ANY ((ARRAY['Server'::character varying, 'Application'::character varying, 'Database'::character varying, 'Network'::character varying, 'Service'::character varying, 'Other'::character varying])::text[])))
);


ALTER TABLE public.configuration_items OWNER TO itsm_user;

--
-- Name: governance_policies; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.governance_policies (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    resource_type character varying(100) NOT NULL,
    rules jsonb NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.governance_policies OWNER TO itsm_user;

--
-- Name: incident_cis; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.incident_cis (
    incident_id uuid NOT NULL,
    ci_id uuid NOT NULL
);


ALTER TABLE public.incident_cis OWNER TO itsm_user;

--
-- Name: incident_history; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.incident_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    incident_id uuid NOT NULL,
    from_status character varying(50),
    to_status character varying(50) NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now() NOT NULL,
    user_id uuid NOT NULL,
    comment text
);


ALTER TABLE public.incident_history OWNER TO itsm_user;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.incidents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    number character varying(50) NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    status character varying(50) NOT NULL,
    priority character varying(50) NOT NULL,
    category character varying(255) NOT NULL,
    assignee uuid,
    reporter uuid NOT NULL,
    linked_problem_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    resolved_at timestamp without time zone,
    CONSTRAINT incidents_priority_check CHECK (((priority)::text = ANY ((ARRAY['Critical'::character varying, 'High'::character varying, 'Medium'::character varying, 'Low'::character varying])::text[]))),
    CONSTRAINT incidents_status_check CHECK (((status)::text = ANY ((ARRAY['New'::character varying, 'InProgress'::character varying, 'Pending'::character varying, 'Resolved'::character varying, 'Closed'::character varying])::text[])))
);


ALTER TABLE public.incidents OWNER TO itsm_user;

--
-- Name: known_errors; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.known_errors (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    problem_id uuid NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    workaround text NOT NULL,
    permanent_fix text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.known_errors OWNER TO itsm_user;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    resource character varying(255) NOT NULL,
    actions text[] NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.permissions OWNER TO itsm_user;

--
-- Name: problem_incidents; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.problem_incidents (
    problem_id uuid NOT NULL,
    incident_id uuid NOT NULL
);


ALTER TABLE public.problem_incidents OWNER TO itsm_user;

--
-- Name: problems; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.problems (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    number character varying(50) NOT NULL,
    title character varying(500) NOT NULL,
    description text NOT NULL,
    status character varying(50) NOT NULL,
    priority character varying(50) NOT NULL,
    category character varying(255) NOT NULL,
    assignee uuid,
    root_cause jsonb,
    known_error_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    resolved_at timestamp without time zone,
    CONSTRAINT problems_priority_check CHECK (((priority)::text = ANY ((ARRAY['Critical'::character varying, 'High'::character varying, 'Medium'::character varying, 'Low'::character varying])::text[]))),
    CONSTRAINT problems_status_check CHECK (((status)::text = ANY ((ARRAY['New'::character varying, 'UnderInvestigation'::character varying, 'KnownError'::character varying, 'Resolved'::character varying, 'Closed'::character varying])::text[])))
);


ALTER TABLE public.problems OWNER TO itsm_user;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.role_permissions (
    role_id uuid NOT NULL,
    permission_id uuid NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO itsm_user;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    parent_role_id uuid,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.roles OWNER TO itsm_user;

--
-- Name: sla_deadlines; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.sla_deadlines (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    incident_id uuid NOT NULL,
    sla_id uuid NOT NULL,
    response_deadline timestamp without time zone NOT NULL,
    resolution_deadline timestamp without time zone NOT NULL,
    breached boolean DEFAULT false NOT NULL,
    breached_at timestamp without time zone
);


ALTER TABLE public.sla_deadlines OWNER TO itsm_user;

--
-- Name: slas; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.slas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    priority character varying(50) NOT NULL,
    category character varying(255),
    response_time_minutes integer NOT NULL,
    resolution_time_minutes integer NOT NULL,
    business_hours_only boolean DEFAULT false NOT NULL,
    escalation_thresholds jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT slas_priority_check CHECK (((priority)::text = ANY ((ARRAY['Critical'::character varying, 'High'::character varying, 'Medium'::character varying, 'Low'::character varying])::text[])))
);


ALTER TABLE public.slas OWNER TO itsm_user;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.user_roles (
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    assigned_at timestamp without time zone DEFAULT now() NOT NULL,
    assigned_by uuid
);


ALTER TABLE public.user_roles OWNER TO itsm_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: itsm_user
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    username character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO itsm_user;

--
-- Data for Name: approval_records; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.approval_records (id, change_id, approver_id, decision, "timestamp", comments) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.audit_logs (id, "timestamp", user_id, action, resource_type, resource_id, before_state, after_state, metadata, ip_address) FROM stdin;
\.


--
-- Data for Name: change_cis; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.change_cis (change_id, ci_id) FROM stdin;
\.


--
-- Data for Name: changes; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.changes (id, number, title, description, type, status, risk_level, priority, requester, assignee, rollback_plan, schedule, implementation, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ci_relationships; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.ci_relationships (id, source_ci_id, target_ci_id, relationship_type, created_at) FROM stdin;
\.


--
-- Data for Name: configuration_items; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.configuration_items (id, name, type, status, owner, attributes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: governance_policies; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.governance_policies (id, name, description, resource_type, rules, enabled, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: incident_cis; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.incident_cis (incident_id, ci_id) FROM stdin;
\.


--
-- Data for Name: incident_history; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.incident_history (id, incident_id, from_status, to_status, "timestamp", user_id, comment) FROM stdin;
\.


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.incidents (id, number, title, description, status, priority, category, assignee, reporter, linked_problem_id, created_at, updated_at, resolved_at) FROM stdin;
\.


--
-- Data for Name: known_errors; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.known_errors (id, problem_id, title, description, workaround, permanent_fix, created_at) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.permissions (id, name, resource, actions, created_at) FROM stdin;
\.


--
-- Data for Name: problem_incidents; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.problem_incidents (problem_id, incident_id) FROM stdin;
\.


--
-- Data for Name: problems; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.problems (id, number, title, description, status, priority, category, assignee, root_cause, known_error_id, created_at, updated_at, resolved_at) FROM stdin;
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.role_permissions (role_id, permission_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.roles (id, name, description, parent_role_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sla_deadlines; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.sla_deadlines (id, incident_id, sla_id, response_deadline, resolution_deadline, breached, breached_at) FROM stdin;
\.


--
-- Data for Name: slas; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.slas (id, name, priority, category, response_time_minutes, resolution_time_minutes, business_hours_only, escalation_thresholds, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.user_roles (user_id, role_id, assigned_at, assigned_by) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: itsm_user
--

COPY public.users (id, username, email, password_hash, created_at, updated_at) FROM stdin;
\.


--
-- Name: approval_records approval_records_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.approval_records
    ADD CONSTRAINT approval_records_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: change_cis change_cis_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.change_cis
    ADD CONSTRAINT change_cis_pkey PRIMARY KEY (change_id, ci_id);


--
-- Name: changes changes_number_key; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.changes
    ADD CONSTRAINT changes_number_key UNIQUE (number);


--
-- Name: changes changes_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.changes
    ADD CONSTRAINT changes_pkey PRIMARY KEY (id);


--
-- Name: ci_relationships ci_relationships_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.ci_relationships
    ADD CONSTRAINT ci_relationships_pkey PRIMARY KEY (id);


--
-- Name: configuration_items configuration_items_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.configuration_items
    ADD CONSTRAINT configuration_items_pkey PRIMARY KEY (id);


--
-- Name: governance_policies governance_policies_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.governance_policies
    ADD CONSTRAINT governance_policies_pkey PRIMARY KEY (id);


--
-- Name: incident_cis incident_cis_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incident_cis
    ADD CONSTRAINT incident_cis_pkey PRIMARY KEY (incident_id, ci_id);


--
-- Name: incident_history incident_history_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_number_key; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_number_key UNIQUE (number);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: known_errors known_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.known_errors
    ADD CONSTRAINT known_errors_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_name_key; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_key UNIQUE (name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: problem_incidents problem_incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.problem_incidents
    ADD CONSTRAINT problem_incidents_pkey PRIMARY KEY (problem_id, incident_id);


--
-- Name: problems problems_number_key; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.problems
    ADD CONSTRAINT problems_number_key UNIQUE (number);


--
-- Name: problems problems_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.problems
    ADD CONSTRAINT problems_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sla_deadlines sla_deadlines_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.sla_deadlines
    ADD CONSTRAINT sla_deadlines_pkey PRIMARY KEY (id);


--
-- Name: slas slas_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.slas
    ADD CONSTRAINT slas_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_audit_logs_resource; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_audit_logs_resource ON public.audit_logs USING btree (resource_type, resource_id);


--
-- Name: idx_audit_logs_timestamp; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_audit_logs_timestamp ON public.audit_logs USING btree ("timestamp");


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_changes_status; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_changes_status ON public.changes USING btree (status);


--
-- Name: idx_ci_relationships_source; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_ci_relationships_source ON public.ci_relationships USING btree (source_ci_id);


--
-- Name: idx_ci_relationships_target; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_ci_relationships_target ON public.ci_relationships USING btree (target_ci_id);


--
-- Name: idx_incidents_assignee; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_incidents_assignee ON public.incidents USING btree (assignee);


--
-- Name: idx_incidents_created_at; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_incidents_created_at ON public.incidents USING btree (created_at);


--
-- Name: idx_incidents_priority; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_incidents_priority ON public.incidents USING btree (priority);


--
-- Name: idx_incidents_status; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_incidents_status ON public.incidents USING btree (status);


--
-- Name: idx_problems_status; Type: INDEX; Schema: public; Owner: itsm_user
--

CREATE INDEX idx_problems_status ON public.problems USING btree (status);


--
-- Name: approval_records approval_records_approver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.approval_records
    ADD CONSTRAINT approval_records_approver_id_fkey FOREIGN KEY (approver_id) REFERENCES public.users(id);


--
-- Name: approval_records approval_records_change_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.approval_records
    ADD CONSTRAINT approval_records_change_id_fkey FOREIGN KEY (change_id) REFERENCES public.changes(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: change_cis change_cis_change_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.change_cis
    ADD CONSTRAINT change_cis_change_id_fkey FOREIGN KEY (change_id) REFERENCES public.changes(id) ON DELETE CASCADE;


--
-- Name: change_cis change_cis_ci_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.change_cis
    ADD CONSTRAINT change_cis_ci_id_fkey FOREIGN KEY (ci_id) REFERENCES public.configuration_items(id) ON DELETE CASCADE;


--
-- Name: changes changes_assignee_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.changes
    ADD CONSTRAINT changes_assignee_fkey FOREIGN KEY (assignee) REFERENCES public.users(id);


--
-- Name: changes changes_requester_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.changes
    ADD CONSTRAINT changes_requester_fkey FOREIGN KEY (requester) REFERENCES public.users(id);


--
-- Name: ci_relationships ci_relationships_source_ci_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.ci_relationships
    ADD CONSTRAINT ci_relationships_source_ci_id_fkey FOREIGN KEY (source_ci_id) REFERENCES public.configuration_items(id) ON DELETE CASCADE;


--
-- Name: ci_relationships ci_relationships_target_ci_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.ci_relationships
    ADD CONSTRAINT ci_relationships_target_ci_id_fkey FOREIGN KEY (target_ci_id) REFERENCES public.configuration_items(id) ON DELETE CASCADE;


--
-- Name: configuration_items configuration_items_owner_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.configuration_items
    ADD CONSTRAINT configuration_items_owner_fkey FOREIGN KEY (owner) REFERENCES public.users(id);


--
-- Name: incidents fk_incident_problem; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT fk_incident_problem FOREIGN KEY (linked_problem_id) REFERENCES public.problems(id) ON DELETE SET NULL;


--
-- Name: problems fk_problem_known_error; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.problems
    ADD CONSTRAINT fk_problem_known_error FOREIGN KEY (known_error_id) REFERENCES public.known_errors(id) ON DELETE SET NULL;


--
-- Name: incident_cis incident_cis_ci_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incident_cis
    ADD CONSTRAINT incident_cis_ci_id_fkey FOREIGN KEY (ci_id) REFERENCES public.configuration_items(id) ON DELETE CASCADE;


--
-- Name: incident_cis incident_cis_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incident_cis
    ADD CONSTRAINT incident_cis_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: incident_history incident_history_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: incident_history incident_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: incidents incidents_assignee_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_assignee_fkey FOREIGN KEY (assignee) REFERENCES public.users(id);


--
-- Name: incidents incidents_reporter_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_reporter_fkey FOREIGN KEY (reporter) REFERENCES public.users(id);


--
-- Name: known_errors known_errors_problem_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.known_errors
    ADD CONSTRAINT known_errors_problem_id_fkey FOREIGN KEY (problem_id) REFERENCES public.problems(id) ON DELETE CASCADE;


--
-- Name: problem_incidents problem_incidents_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.problem_incidents
    ADD CONSTRAINT problem_incidents_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: problem_incidents problem_incidents_problem_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.problem_incidents
    ADD CONSTRAINT problem_incidents_problem_id_fkey FOREIGN KEY (problem_id) REFERENCES public.problems(id) ON DELETE CASCADE;


--
-- Name: problems problems_assignee_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.problems
    ADD CONSTRAINT problems_assignee_fkey FOREIGN KEY (assignee) REFERENCES public.users(id);


--
-- Name: role_permissions role_permissions_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: roles roles_parent_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_parent_role_id_fkey FOREIGN KEY (parent_role_id) REFERENCES public.roles(id) ON DELETE SET NULL;


--
-- Name: sla_deadlines sla_deadlines_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.sla_deadlines
    ADD CONSTRAINT sla_deadlines_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: sla_deadlines sla_deadlines_sla_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.sla_deadlines
    ADD CONSTRAINT sla_deadlines_sla_id_fkey FOREIGN KEY (sla_id) REFERENCES public.slas(id);


--
-- Name: user_roles user_roles_assigned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_assigned_by_fkey FOREIGN KEY (assigned_by) REFERENCES public.users(id);


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: itsm_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict WNS7cdb96JrPaBnfRbyldk6kQthGxe89QDO6Nl8jHHVD4GlzSeFZUG79OjIx3vU

